*{
    font-family:Orbiton;
}

.navbar-container{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav1{
    /* text-align: center; */
    /* position:relative; */
    /* top:3px; */
    /* left:250px; */
    /* width:100; */
    font-size: 20px;
    
}
.imageClass{
}
.navClass{
    width: 40%;

    display: flex ;
    flex-direction: row;

    justify-content: space-around;
}

.nav1:hover{
    text-decoration: underline;
}
.search1{
    display: flex;
    justify-content: right;
    /* background-color: aqua; */
    height:20px;
    width: 200px;

    /* position: absolute; */
    /* top:22px; */
    /* right:80px; */
}
.searchInput{
    position:relative;
    top:0px;
    border-radius: 7px;

}

a{
    position: absolute;
    top:20px;
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
    color: black;
    text-decoration: none;
    
}
.imgparent{
    position: absolute;
    
}
.hero1{
    position:relative;
    height: 450px;
    width: 350px;
    margin : 40px;
    z-index: 2;
}

.hero2{
     position: absolute;
     top:240px;
     left: 150px;
     height:250px;
     width: 250px;
     z-index: 1;
    
}
.textmain{
    display: inline-block;
    position: relative;
    top:200px;
    left:200px;
    border: 2xp solid;
}
.maindiv{
    font-size: 95px;
    text-transform: capitalize;
    font-family: gstatic;
    width: 928px;
    height: 150px;
    /* border: 2px solid black; */
    position: absolute;
    top: 85px;
    left: 500px;
}

.maindiv2{
    /* font-size: 100px; */
    /* text-transform: capitalize; */
    width: 750px;
    height:75px;
    text-align: center;
    /* border: 2px solid black; */
    position: absolute;
    top: 250px;
    left: 550px;
}
.emailadd{
    font-family: "IBM Plex Mono";
    position: absolute;
    bottom: 130px;
    left:780px;
    height: 20px;
    width: 130px;
    border-radius: 7px;
    border: 2px solid black;
    text-align: center;
}
.emailadd1{
    color: white;
    background-color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 130px;
    left:930px;
    height: 20px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
.contact{
    position: absolute;
    font-size: 23px;
    text-transform: capitalize;
    bottom: 30px;
    left: 860px;
    width: 120px;
}
.image4{
    /* background-color: aqua; */
    position: absolute;
    height: 30px;
    width: 300px;
    bottom:100 ;
    left: 810px;
}
.f4{
    margin-left: 10px;

}
.circlelogo{
    position:absolute;
    top:5px;
    left:650px;
    /* width: px; */
    height:50px;
}
.starlogo{
    position: absolute;
    top: 6px;
    left: 1250px;
    width: 45px;
}

.starlogo1{
    position: absolute;
    bottom: 35px;
    right: -80px;
    width: 45px;
}